snippet //dox doxygen documentation block
	/*
	 *	$1
	 *
	 *	@brief	$2
	 *
	 *	$3
	 *
	 *	@param	type	name 	description
	 *	@return type	description
	 */

snippet for for loop
	for($1)
	{
		$2
	}

snippet if if branch
	if($1)
	{
		$2
	}
